:root{
    --maintextColor:  #222222;
    --btnColor: #086CF9;
    --textColor: #555555;
    --loremColor: #333333;
    --courseColor: #ECF4FF;
    --information: #D3E5FE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: "DM Sans",sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 110px;
    margin: 0 auto;
}

nav .logo{
    width: 25%;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}

nav ul li{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: var(--maintextColor);
    font-size: 15px;
    line-height: 155%;
}

nav select{
    color: var(--maintextColor);
    border: none;
    font-size: 15px;
    line-height: 155%;
}

.nav-btn{
    width: 25%;
    text-align: right;
}

.nav-btn a{
    margin-right: 15%;
}

.button{
    padding: 12px 24px;
    border: none;
    outline: none;
    background: var(--btnColor);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-family: "DM Sans";
    font-size: 15px;
}

nav select:hover,
nav a:hover{
    color: var(--btnColor);
}

/* Main styles */

main{
    position: relative;
    width: 100%;
    height: 110vh;
    background-image: url(/Registan.uz/assets/images/main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
}

.back{
    width: 100%;
    height: 110vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.main-info{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

main h1{
    font-weight: bold;
    font-size: 54px;
    line-height: 73px;
    color: white;
}

.main-info p{
    color: white;
    padding: 0 18%;
    font-size: 15px;
    line-height: 155%;
    margin-top: 20px;
    margin-bottom: 42px;
}

.statistic{
    position: absolute;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    left: 50%;
    transform: translateX(-50%);
    bottom: -90px;
    height: 180px;
    background-color: white;
    box-shadow: 0px 11px 35px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.statistica{
    display: flex;
    align-items: center;
}

.statistic-info{
    margin-left: 24px;
    text-align: left;
}

.statistic-info h2{
    font-weight: bold;
    font-size: 35px;
    line-height: 47px;
    color: var(--maintextColor);
}

.statistic-info p{
    font-size: 15px;
    line-height: 155%;
    color: var(--btnColor);
    margin-top: 8px;
}

/* Container styles */
.container{
    display: flex;
    align-items: center;
    padding-top: 200px;
    width: 80%;
    margin: 0 auto;
}

.container .left-side{
    width: 50%;
}

.left-side h1{
    margin-bottom: 24px;
}

.maintitle{
    font-size: 46px;
    line-height: 62px;
    color: var(--maintextColor);
    font-weight: bold;
    margin-bottom: 12px;}

.maintext{
    font-size: 15px;
    line-height: 155%;
    color: var(--textColor);
}

.left-side p:nth-child(2){
    padding-right: 17%;
}

.left-side p:nth-child(3){
    font-size: 19px;
    line-height: 28px;
    color: var(--loremColor);
    margin-top: 5px;
    margin-bottom: 30px;
    padding-right: 10%;
}

.container .right-side{
    width: 50%;
    position: relative;
}

.right-side img{
    width: 100%;
}

.right-side div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: white;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right-side i{
    color: var(--btnColor);
    font-size: 22px;
}

/* Work styles */
.work{
    width: 80%;
    text-align: center;
    margin: 120px auto;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 45px;
}

.cards .card{
    width: 21.5%;
}

.card h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: var(--maintextColor);
    margin: 16px 0;
}

.card p{
    font-size: 13px;
}


/* Courses styles */

.courses{
    width: 100%;
    background-color: var(--courseColor);
    text-align: center;
    padding: 60px 0;
}

.courses > p{
    margin-bottom: 45px;
}

.top-courses,
.bottom-courses{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.course{
    background-color: white;
    text-align: left;
    padding: 22px;
    margin: 11px;
    border-radius: 6px;
}

.course > img{
    width: 100%;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
    margin-bottom: 42px;
}

.icons div{
    border: 0.6px solid #C8C8C8;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons i{
    font-size: 15px;
    color: var(--btnColor);
}

.course-info h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: var(--loremColor);
    display: flex;
    justify-content: space-between;
}

.course-info h2 span{
    color: var(--btnColor);
}

.course-info p{
    font-size: 13px;
    line-height: 155%;
    color: var(--textColor);
    margin: 16px 0;
}

.courses .button{
    margin-top: 45px;
}

/* Meet styles */

.meet, .blog, .event{
    width: 100%;
    text-align: center;
    margin: 120px 0;
}

.mentors, .events, .blogs{
    width: 80%;
    margin: 45px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mentor, .event-image{
    position: relative;
    width: 32%;
    box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    text-align: left;
}

.mentor img,
.event-image img,
.blog img{
    width: 100%;
}

.mentor h2,
.mentor > p{
    margin-left: 32px;
}

.mentor-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
}

.fa-star{
    color: var(--btnColor);
}

/* Event styles */

.event-info{
    padding: 24px;
}

.event-info h3,
.blog h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: var(--maintextColor);
    padding-right: 20%;
}

.event-info p{
    font-size: 13px;
    margin-top: 20px;
}
.fa-map-marker-alt{
    margin-left: 10%;
}

.event .aprel{
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Information styles */

.information{
    width: 100%;
    background-color: var(--information);
    padding: 70px 20%;
}

.inform{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Blog styles */
.blog-main{
    width: 32%;
    text-align: left;
    border: 0.5px solid #BFBFBF;
    border-radius: 4px;
}

.blog-main p{
    font-size: 13px;
    margin-top: 12px;
    margin-bottom: 24px;
}

.blog-info{
    padding: 26px;
}

.blog-info h3{
    padding-right: 0;
}

.blog-info a{
    text-decoration: none;
}

/* Carousel started */

.carousel{
    width: 100%;
    text-align: center;
}

#container {
    width: 80%;
    display: grid;
    place-items: center;
    position: relative;
    margin: 0 auto;
}

#slider-container {
    height: 300px;
    width: 94%;  
    overflow: hidden;
    padding: 20px;
}

#slider-container .btn {
    position: absolute;
    z-index: 1000;
    cursor: pointer;
    top: 0;
    height: 30px;
    width: 30px;
    border-left: 8px solid #D5D4D4;
    border-top: 8px solid #D5D4D4;
}

#slider-container .btn:hover {
    transform: scale(1.2);
    border-left: 8px solid var(--btnColor);
    border-top: 8px solid var(--btnColor);
}



#slider-container .btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px;
    top: 150px;
}

#slider-container .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
    top: 150px;
}

#slider-container #slider {
    display: flex;
    width: 1000%;
    height: 100%;
    transition: all 0.5s;
}

#slider-container #slider .slide {
    position: relative;
    width: 310px !important;
    height: 250px;
    margin: auto 12px;
    background-color: white;
    display: flex;    
    justify-content: space-between;
    box-shadow: 0px 13px 45px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    text-align: left;
    }
.slide-info {
    width: 85%;
    margin: 30px auto;
}

#slider-container #slider .slide .slide-avatar {
    display: flex;
    align-items: center;
    margin-top: 20px;
}


.slide-avatar img {
    width: 30%;
    margin-right: 20px;
}

.first_name{
    width: 70%;
    text-align: left;
}

.slide-info .first_name h5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: var(--maintextColor);
}

@media only screen and (min-width: 1100px) {
    #slider-container #slider .slide {
    width: calc(2.5% - 20px);
  }
}

@media only screen and (max-width: 1100px) {
    #slider-container #slider .slide {
    width: calc(3.3333333% - 20px);
  }
}

@media only screen and (max-width: 900px) {
    #slider-container #slider .slide {
    width: calc(5% - 20px);
  }
}

@media only screen and (max-width: 550px) {
    #slider-container #slider .slide {
    width: calc(10% - 20px);
  }
}

/* Student styles */
.student{
    width: 65%;
    margin: 120px auto;
    background-color: var(--btnColor);
    border-radius: 6px;
    text-align: center;
    padding: 45px 0;
}

.student h1{
    font-weight: bold;
    font-size: 34px;
    line-height: 47px;
    color: #FCFCFC;
}

.student p{
    margin-top: 12px;
    font-size: 15px;
    line-height: 155%;
    color: #F9F9F9;
    margin-bottom: 40px;
}

.student-btn{
    position: relative;
    width: 60%;
    margin: 0 auto;
}

.student input{
    width: 100%;
    height: 60px;
    text-indent: 22px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.student input::placeholder{
    font-size: 14px;
    line-height: 155%;
    color: var(--textColor);
}

.student button{
    position: absolute;
    right: 8px;
    top: 8px;
}

/* Footer styles */

footer{
    width: 100%;
    padding:60px 10% ;
    background-color: var(--information);
    display: flex;
    justify-content: space-around;
}

footer h1{
    font-weight: bold;
    font-size: 28px;
    line-height: 39px;
    color: var(--maintextColor);
    margin-bottom: 22px;
}

footer li{
    list-style: none;
    margin: 15px 0;
}

footer a{
    font-size: 15px;
    line-height: 21px;
    color: #444444;
    text-decoration: none;
}

.btn{
    display: inline-block;
    border-left: 2px solid var(--btnColor);
    border-top: 2px solid var(--btnColor);
    width: 8px;
    height: 8px;
    transform: rotate(135deg);
    margin-right: 14px;
}

.contact i{
    margin-right: 8px;
}
.edu{
    width: 33%;
}

.edu p{
    margin-bottom: 30px;
}

.media{
    display: flex;
    align-items: center;
}

.social{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-right: 15px;
    border-radius: 4px;
}

.social i{
    color: var(--btnColor);
}